<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-ios" text-capitalize>Add address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentSection" padding>

    <div class="flex radioSection">
      <ion-radio-group [(ngModel)]="title" mode="md">
        <ion-radio checked mode="md" name="gender" value="Mr"></ion-radio>
        <span class="f-gender">
          Mr </span>
        <ion-radio mode="md" name="gender" value="Mrs"></ion-radio>
        <span class="f-gender">
          Mrs </span>
        <ion-radio mode="md" name="gender" value="Miss"></ion-radio>
        <span class="f-gender">
          Miss </span>
      </ion-radio-group>
    </div>

    <ion-list class="f-list" lines="full">

      <ion-item class="f-item" lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name " name="name"></ion-input>
      </ion-item>

      <ion-item class="f-item" lines="full">
        <ion-label position="floating">Flat/House/Office No.</ion-label>
        <ion-input type="text" [(ngModel)]="flatNumber" name="flatNumber"></ion-input>
      </ion-item>

      <ion-item class="f-item" lines="full">
        <ion-label position="floating">Street/Society/Office Name</ion-label>
        <ion-input type="text" [(ngModel)]="street" name="street"></ion-input>
      </ion-item>

      <ion-item class="f-item" lines="full">
        <ion-label position="floating">Locality</ion-label>
        <ion-input type="text" [(ngModel)]="locality" name="locality"></ion-input>
      </ion-item>
    </ion-list>

    <div>
      <h6>Nickname of your address</h6>
      <div class="BtnSection">
        <div class="btnOutline homeBtn" (click)="addAddress('Home')" [ngClass]="{'active': homeTrue,'btnColorBlack':!homeTrue,'btnColorWhite': homeTrue}">Home</div>
        <div class="btnOutline officeBtn" (click)="addAddress('Office')" [ngClass]="{'active': officeTrue,'btnColorBlack':!officeTrue,'btnColorWhite': officeTrue}">Office</div>
      </div>
      <br>
      <ion-button expand="full" color="primary" *ngIf="locality !== '' && street !== '' && flatNumber !== '' && name !== ''" (click)="Continue()">Continue</ion-button>
    </div>

  </div>
</ion-content>
