
.phonetopSection{
    margin-top: 15%;
}


.phoneSection{
    border: 1px solid #695e5e;
    display: flex;
    min-height: 65px;

    .inputDiv{
        display: flex;
        align-items: center;
    }
}
ion-select.select-placeholder {
    color: currentColor;
    opacity: 1;
    --opacity: 1;
}
ion-select{
    opacity: 1;
    --opacity: 1;
}

.inputBorder {
    border-bottom: 4px solid #d9d9d9;
    margin-right: 10px;
    width: 30px;
    font-size: 24px;
  }

  .divInner {
    left: 0;
    position: sticky;
    display: flex;
  }
  
  .divOuter {
    width: 100%;
    overflow: hidden;
    max-height: 37px;
  }
  .marginTop {
    justify-content: center;
    display: flex;
  }
  
  .btnSubmit {
    --border-radius: 7px;
  }

  .resendSection{
    display: flex;
    justify-content: space-between;
  }

  .resendText{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .successOtp{
    font-size: 32px;
  }