<div padding class="contentSection" margin-bottom>
  <ion-row>
    <ion-col>
      <ion-label>
        Check Delivery
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="pinInputSection">
    <ion-col size="6">
      <ion-input placeholder="Enter Your Pin" type="tel" maxlength="6" class="inputBorder" [(ngModel)]="pinCode"></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" size="small" (click)="checkPin(pinCode)" >Submit</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="dFlexJustifyContentSpaceBetween deliverytype" padding-top>
    <ion-text>Cash on Delivery</ion-text>
    <ion-text>Free Shipping</ion-text>
    <ion-text> Delivery in</ion-text>
  </ion-row>
  <ion-row class="dFlexJustifyContentSpaceBetween deliverytype" padding-top>
    <ion-text> 
        <ion-icon name="checkmark" *ngIf="product.cod"></ion-icon>
        <ion-icon name="close" *ngIf="!product.cod"></ion-icon>
    </ion-text>
    <ion-text> 
        <ion-icon name="checkmark" *ngIf="product.free_shipping"></ion-icon>
        <ion-icon name="close" *ngIf="!product.free_shipping"></ion-icon>
    </ion-text>
    <ion-text> {{product.delivery_in}} Days</ion-text>
    
  </ion-row>
</div>