

.contentSection{
    background: #fff;
    margin: 8px;
  }
  
  .leftHeading{
    font-size: 20px;
    font-weight: bold;
  }
  
  .rightHeading{
    font-size: 18px;
  }
  
  .topRightSection{
      border: 1px solid #9e9898;
      padding: 6px;
      border-radius: 5px;
  }
  
  .productCard{
    box-shadow: 0 4px 16px rgba(156, 153, 153, 0.97);
    --box-shadow: 0 4px 16px rgba(156, 153, 153, 0.97);
    width: 60%;
  
    .productImage{
      position: relative;
  
      .discountSection {
        background: #15bf15;
        color: #fff;
        position: absolute;
        padding: 6px 16px;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 5px;
        left: 10px;
    }
  }
  
  ion-card-header{
      padding: 0 16px;
    }
    .subTitle{
      font-size: 16px;
      text-decoration: line-through;
      padding-left: 16px;
      color: #000;
    }
  
    
  }
  
  .addBtnIcon{
    background:var(--ion-color-primary);
    --background:var(--ion-color-primary);
  }
  
  .addBtnSection{
    .addBtn{
      border-radius:5px;
    --border-radius:5px; 
    }
    
  }
  
  .productName{
    font-size: 22px;
    color:var(--ion-color-dark);
    padding-top: 8px;
  }
  
  .productDesc{
    color:var(--ion-color-dark);
    // text-align: justify;
    padding-bottom: 16px;
    font-weight: bold;
  }
  
  
  .productCardSection{
    white-space: nowrap;
    height: auto;
    overflow-X: scroll;
    overflow-y: hidden;
  }
  .productCard{
    background: #fff;
    display: inline-block;
    white-space: pre-line;
    padding: 2px auto;
    width: 100%;
    margin: 0;
    height: auto;
    box-shadow: 0 4px 16px rgba(156, 153, 153, 0.97);
    --box-shadow: 0 4px 16px rgba(156, 153, 153, 0.97);
  }

  ion-segment{
    height: 42px;
  }

.segmentBtn{
      min-width: 45px;
      max-width: 60px;
  }

  .textUnits{
      font-size: 24px;
  }  

  .cardContentSection{
    padding-top:0;
  }

  .productImg{
   padding-top:22px;
  }
  
  ion-segment{
    align-items: center;
  }