<div class="rate-div">
  <div class="inside-div">
    <ion-icon name="close" style="float:right;zoom:1.5;margin-top:7px;margin-right:1px;" (click)="closeModal()" color="danger"></ion-icon>
    <h1 class="head">Rate Us</h1>
    <p class="size" text-center>How was your experiance of shopping with us?</p>
    <div class="new">
      <ion-row>
        <ion-col size="6" text-center>
          <ion-button  color="undefined" fill="clear" (click)="closeModal()" class="green-btn">
            <div>
              <ion-img src="assets/images/happy.png" class="emojiImg"></ion-img>
            </div>
          </ion-button>
        </ion-col>
        <ion-col  size="6" text-center> 
          <ion-button  color="undefined" fill="clear"  (click)="closeModal()" class="red-btn">
            <div>
              <ion-img src="assets/images/sad.png" class="emojiImg"></ion-img>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>