<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title-ios" text-capitalize>My Account</ion-title>
      <ion-button slot="end" mode="ios" class="pRelative" (click)="cartPage()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <span class="cartQuantity">{{cart.productQty}}</span>
      </ion-button>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <div *ngIf="userDetails" class="userSection" padding-horizontal>
        <ion-avatar slot="start">
          <img [src]="profileUrl">
        </ion-avatar>
        <div padding-start class="userDetail">
          <ion-label class="userName">
            {{userDetails.username}}
          </ion-label>
          <ion-text>{{userDetails.email}}</ion-text>
        </div>
        <!-- <div class="editSection" slot="end" float-right (click)="editProfile()">
          <ion-label ion-button color="light">Edit Profile</ion-label>
        </div> -->
  
      </div>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-segment [(ngModel)]="selectSegment">
        <ion-segment-button value="profile" class="segmentButton" color="light">
          <ion-label>Profile</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mycard" color="light">
          <ion-label>My Card</ion-label>
        </ion-segment-button>
        <ion-segment-button value="MyAddress" color="light">
          <ion-label>My Address</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <my-profile *ngIf="selectSegment == 'profile'"></my-profile>
    <stor-paymentcards *ngIf="selectSegment == 'mycard'"></stor-paymentcards>
    <my-address *ngIf="selectSegment == 'MyAddress'"></my-address>
  </ion-content>